.texto-listado-footer{
    text-align: center;
    color: aliceblue;
    background-color: #28254a;
}

.separar-iconos-redes{
    margin-right: 15px;
}

.imagen-producto{    
    height: 350px;
    object-fit: contain;
}

.imagen-producto-venta{    
    height: 100px;
    object-fit: contain;
}